.body {}
.title {
    @apply mb-[46px]
     mb-[40px]
    xl:mb-[57px]
    xl:mb-[20px]
}
.body .button {
    @apply ml-auto w-[533px] h-[101px] mt-[80px]
     mt-[50px]  w-[360px]  h-[74px]
    xl:mt-[20px] xl:w-[290px] xl:h-[65px] xl:text-[18px]
    xl:mt-[-52px] xl:w-[267px] xl:h-[52px] xl:text-[16px]
    md:mt-[20px]
}

.list {
    @apply flex justify-between flex-wrap gap-y-[72px]
     gap-y-[50px]
    xl:gap-y-[57px]
    xl:gap-y-[20px]
    md:flex-col md:gap-y-[30px]
    sm:gap-y-[20px]
}

.list .list__item:nth-child(1), .list .list__item:nth-child(2) {
    @apply w-[calc((100%-40px)/2)]
     w-[calc((100%-30px)/2)]
    xl:w-[calc((100%-20px)/2)]
    xl:w-full xl:block xl:gap-[15px]
}

.list .list__item:nth-child(1) .item__text , .list  .list__item:nth-child(2)  .item__text {
    @apply max-w-[75%] xl:max-w-[80%] md:max-w-none
}

.list__item {
    @apply w-[calc((100%-50px*2)/3)] cursor-pointer
     w-[calc((100%-30px*2)/3)]
    xl:w-[calc((100%-20px*2)/3)]
    xl:w-[calc((100%-20px)/2)]

}

.body .list .list__item {
    @apply  md:w-full md:block
}


.body .list .list__item .item__image {
    @apply w-full  xl:h-[40vw] md:mb-[10px] md:h-[80vw]   
}

.picture__image {
    @apply  object-top
}

.item__image {
    @apply mb-[8px] rounded-[32px] overflow-hidden h-[520px] border-[5px] border-transparent transition-all box-border
     rounded-[24px]  mb-[15px]  h-[390px]
      xl:mb-[12px] xl:border-[3px] xl:h-[40vw]
    xl:rounded-[12px] md:h-[80vw] xl:shrink-0 
    md:border-[0px]
}

.list__item:hover .item__image {
    @apply border-yellow-400
}

.list .list__item:nth-child(1) .item__image, .list .list__item:nth-child(2) .item__image {
    @apply h-[700px]  h-[530px]
    xl:h-[80vw] xl:w-full xl:mb-[0px]
}

.list .item__title, .list .item__price {
    @apply xl:text-[18px] md:text-[16px] sm:text-[14px]
}

 .list__item:not(:last-child) .item__text {
    @apply max-w-[75%] xl:max-w-none
}

.item__price {}

.item__content {}

.item__top {
    @apply flex justify-between mb-[8px]
     mb-[5px]
    md:mb-[3px]
}

.list .list__item:nth-child(1) .item__top, .list .list__item:nth-child(2) .item__top {
    @apply xl:flex-col xl:mb-[12px] xl:gap-[8px]
    md:flex-row md:mb-[3px]

}
