.section {
    @apply mb-[124px] xl:mb-[67px] md:mb-[47px]
}

.container {
}

.title {
    @apply text-[38px] font-bold leading-[1.2] mb-[64px]
    xl:mb-[27px]
    xl:text-[28px]
    md:text-[24px] md:mb-[31px]
}

.list {
    @apply grid grid-cols-2 gap-x-[10px] gap-y-[9px] overflow-visible mx-[-10px]
    xl:gap-0
    md:mx-[-6px]

}

.list__item {
    @apply col-span-1

}

.list__item:nth-child(4n-1) .picture, .list__item:nth-child(4n) .picture {
    @apply h-[600px]
     xl:h-[48vw] 
     md:h-[44vw]
}


.button {
    @apply relative transition-all flex flex-col justify-start w-full h-full shadow-none hover:[box-shadow:_0px_4px_10px_0px_rgba(0,_0,_0,_0.15)] focus:[box-shadow:_0px_4px_10px_0px_rgba(0,_0,_0,_0.15)] focus:outline-0  p-[10px] pb-[20px] rounded-[29px]
    xl:pb-[22px]
    md:rounded-[12px] md:p-[6px] md:pb-[18px]
}

.button__decor {
    @apply absolute top-[27px] left-[27px] w-[52px] h-[52px]
    xl:top-[22px] xl:left-[22px] xl:w-[36px] xl:h-[36px]
    md:top-[10px] md:left-[10px]
}

.item__content {
    @apply grid grid-cols-3 gap-[8px] w-full
    xl:gap-[16px]
    md:gap-[8px]
}

.content__title {
    @apply text-left
}

.content__price {
    @apply text-right
    xl:text-left xl:row-end-4 xl:row-start-3
}

.content__title, .content__price {
    @apply text-[24px] font-bold
    xl:text-[20px]
    md:text-[14px]
}

.content__title {
    @apply col-span-2 xl:col-span-3
}

.content__price {
    @apply col-span-1 xl:col-span-3
}

.picture {
    @apply block h-[530px] rounded-[24px] mb-[16px] overflow-hidden w-full
    xl:h-[48vw] xl:mb-[24px]
    md:h-[44vw] md:rounded-[12px] md:mb-[12px]
}


.content__text {
    @apply col-span-3 text-[20px] font-light text-left leading-[1.3]
    xl:text-[16px]
    md:text-[12px] md:mr-[-5px]
}

