.body {
@apply mt-[8px]
    xl:mt-[0px]
}

.image {
    @apply object-cover  absolute top-0 left-0 bottom-0 right-[-3px]
}

.display {
@apply bg-[#FEC955] rounded-[35px] min-h-[209px] flex items-center px-[40px] py-[24px]
xl:rounded-[24px] xl:min-h-[150px] xl:flex-wrap xl:py-[40px]
md:px-[20px] md:py-[16px] md:min-h-[109px]
}


.title {
    @apply mb-[5px] mr-[15px]
        xl:mb-[4px]
    md:mb-[2px] md:mr-[8px]
}

.text {
    @apply text-[32px] font-medium leading-[1.2]
    xl:text-[20px] xl:font-bold
    md:text-[16px]
    sm:max-w-[280px]
}